<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index.html</title>
</head>

<body>
    <a id="login" href="login.html?client_id=test123&scope=openid&response_type=token%20id_token">Go to Login</a><br>
    <br>
    <textarea id="about" rows="40" cols="120"></textarea><br>
    <button id="logout" disabled>Logout</button>
    <script>
        const query = new URLSearchParams(location.search);
        const knownQueryFields = ["access_token", "token_type", "expires_in", "scope", "state", "refresh_token", "id_token"];
        const about = document.getElementById("about");
        const localStorageKey = "test-session";

        if(query.has("access_token")) {
            fetch("/login-hook", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: new URLSearchParams(location.search)
            });

            const sess = new URLSearchParams(location.search);
            for(const field of sess.keys()) if(!knownQueryFields.includes(field)) sess.delete(field);
            localStorage.setItem(localStorageKey, sess.toString());
            const state = new URLSearchParams(location.search);
            for(const field of sess.keys()) if(knownQueryFields.includes(field)) state.delete(field);
            history.replaceState(null, "", "?"+state.toString());
        }

        const storedSession = localStorage.getItem(localStorageKey);
        if(storedSession) {
            const sess = new URLSearchParams(storedSession);
            about.value = storedSession.replace(/\&/g, "\n\n");
            const idToken = sess.get("id_token");
            if(idToken) {
                const userinfo = JSON.parse(atob(idToken.split(".")[1]));
                about.value += "\n\nUserinfo:\n"+JSON.stringify(userinfo, null, 2);
            } else {
                about.value += "\n\nNo userinfo.";
            }
        } else {
            about.value = "No session";
        }

        const socialTest1 = document.getElementById("social-test1");
        login.href = `/login.html?` +
            `client_id=client1` +
            `&response_type=token%20id_token` +
            `&scope=openid%20mail` +
            `&state=myState123` +
            `&redirect_uri=http%3A%2F%2Flocalhost%3A8085%2F`;

        const logout = document.getElementById("logout");
        logout.disabled = storedSession === null;
        logout.addEventListener("click", () => {
            const sess = new URLSearchParams(storedSession);
            fetch("/token/revoke", {
                method: "POST",
                headers: {
                    "Authorization": "Bearer "+sess.get("access_token"),
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({
                    token_type_hint: "refresh_token",
                    token: sess.get("refresh_token")
                })
            }).then((resp) => {
                alert(resp.statusText);
                if(resp.ok) {
                    about.value = "No session.";
                    localStorage.removeItem(localStorageKey);
                    logout.disabled = true;
                }
            });
        })
    </script>
</body>

</html>